body {
    background-color: rgb(56, 60, 61);
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.yBkflBVjCUkjw_gL3SrhtQHaDj&pid=Api&P=0&w=355&h=171");
    /* background-image: url("https://images2.alphacoders.com/183/183610.jpg"); */
    background-repeat: no-repeat;
    background-size: 2000px 5000px;
    color: whitesmoke
    }
 
header{
    color: rgb(140, 201, 221);
    font-size: 50px;
}


  h1 {
    color: white;
    text-align: center;
  }

  h2{
      color: lightyellow
  }
  
  p {
    color: lightgray; 
    font-family: verdana;
    font-size: 20px;
  }

  .sub-part {
    font-size: 20px;
    color: white;
  }

  .multiple{    
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 445px; 
    width: 30%;
}

.centre{
  /* margin-left: 520px; */
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30% ;
}


  footer{
    color: lightblue;
    font-size: 15px;
}